.body_div {
  background-color: hsl(0, 0%, 98%);
  width: 96.5%;
  height: auto;
  min-height: 630px;
  margin-top: 3px;
  padding: 50px 0 0 50px;
  overflow: hidden;
}

.dropdown_div {
  width: 200px;
  margin-right: 50px;
  position: relative;
  display: inline-block;
}

.filter_input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border: none;
}

.filter_input:focus {
  outline: none;
}

.img_search {
  height: 100%;
  width: 100%;
}

.example {
  display: flex;
  height: 51.2px;
  width: 600px;
}

.example button {
  width: 20%;
  padding: 10px;
  font-size: 17px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: white;
  border: none;
}

.d-flex-body-top {
  display: flex;
  justify-content: space-between;
}

.dropbtn {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  padding: 16px;
  font-size: 16px;
  font-weight: 550;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  min-width: 200px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2px;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background-color: white;
  font-size: 16px;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown_div:hover .dropdown-content {
  display: block;
}

.d-flex-dropbtn {
  display: flex;
  justify-content: space-between;
}

.img_caret {
  height: 20px;
  width: 20px;
}
